# NECESSARY PARAMETERS
reference_pdb = '/global_location/average_structure.pdb' 		# Local or Global position of the pdb file of the average structure of the system to be analzyed
analysis_pdb = '/global_location/system.pdb'	# Local or Global position of a pdb file of the MD system that will be analyzed
traj_loc = '/global_location/Trajectories/Production.%s.dcd'		# sample Local or Global position of the directory where a production trajectory is located 
start = XXX		# the integer of the trajectory that will be first to be analyzed
end = YYY		# the integer of the trajectory that will be last to be analyzed
data_output_filename = 'rmsf.dat'
selection_file = 'make_selections.py'
distance_functions_file = 'distance_functions.py'

# OPTIONAL PARAMETERS
# ATOM SELECTION PARAMETERS
wrapping_boolean = False 	# do the trajectories need to be wrapped? If yes, then True. If trajectories are already wrapped, then False 
#wrapping_selection = 'not (resname WAT or resname Na+ or resname Cl- or protein)'
alignment_selection = 'protein and name CA and (resid 11:16 41:46 64:66 81:85 103:107 133:138 156:160 181:185 205:209 227:231 244:249 292:296)'
analysis_selection = 'protein or nucleic or resname A3 A5 U3 U3 G5 G3 C5 C3 atp adp PHX MG'
protein_selection = 'not name H*'	# default protein_selection = 'all'
#protein_selection = 'backbone'
#protein_selection = 'not backbone'
#protein_selection = 'name CA'

# OUTPUT PARAMETERS
summary_boolean = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis
summary_filename = 'rmsf.summary'
selection_output_filename = 'selection_list.out'

