# ----------------------------------------
# NECESSARY
distance_functions_file = 'distance_functions.py'

# TRAJECTORY ANALYSIS PARAMETERS
pdb = 'average_structure.001.005.pdb'
avg_pdb_loc = 'average_structure.%03d.%03d.pdb'	
start = 21	# the integer of the trajectory that will be first to be analyzed
end = 130	# the integer of the trajectory that will be last to be analyzed
step = 5

alignment_selection = 'protein and name CA and (resid 14:19 44:49 67:69 84:88 106:110 136:141 159:163 184:188 208:212 230:234 247:252 295:299)'
analysis_selection = 'protein or nucleic or resname A5 A3 G5 G3 C5 C3 U5 U3 atp adp PHX MG'
average_structure_file_name = 'average_structure.021.130.pdb'

# ----------------------------------------
# OPTIONAL
summary_boolean = True		# if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis
summary_file_name = 'average_structure.021.130.summary'

